
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

body {
    background-color: #f0f8ff; 
    font-family: 'Fredoka', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #ff4500;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

form {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 150px;
}

.card img {
    width: 100px;
    height: 100px;
}


.stats-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 5px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    font-size: 0.7rem;
    font-weight: bold;
    color: #555;
}

.stat-val {
    font-size: 1.1rem;
    font-weight: 600;
}

/* background colors for the cards */
.type-fire { background-color: #ffcccc; border: 2px solid #ff4500; }
.type-water { background-color: #cceeff; border: 2px solid #1e90ff; }
.type-grass { background-color: #d9ffcc; border: 2px solid #32cd32; }
.type-electric { background-color: #fffae6; border: 2px solid #ffd700; }
.type-psychic { background-color: #ffe6f2; border: 2px solid #ff69b4; }
.type-ice { background-color: #e6f9ff; border: 2px solid #00bfff; }
.type-dragon { background-color: #e6e6fa; border: 2px solid #9370db; }
.type-dark { background-color: #d3d3d3; border: 2px solid #2f4f4f; }
.type-fairy { background-color: #ffe6ff; border: 2px solid #ffb6c1; }
.type-normal { background-color: #f5f5f5; border: 2px solid #a9a9a9; }
.type-rock { background-color: #f0e6d2; border: 2px solid #b8860b; }
.type-ground { background-color: #f5deb3; border: 2px solid #daa520; }
.type-poison { background-color: #f8d7f6; border: 2px solid #800080; }
.type-bug { background-color: #eefec7; border: 2px solid #9acd32; }
.type-ghost { background-color: #e6e6fa; border: 2px solid #483d8b; }
.type-steel { background-color: #f0f8ff; border: 2px solid #708090; }
.type-flying { background-color: #e6f2ff; border: 2px solid #87ceeb; }
.type-fighting { background-color: #ffdede; border: 2px solid #b22222; }